<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chand.traveltogether">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--android:appComponentFactory="whatever"-->
    <!--tools:replace="android:appComponentFactory"-->
    <application
        android:name=".application.TravelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.AdActivity"
            android:theme="@style/AppTheme.NoActionBarWithBackGround">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".view.activity.MainActivity"
            android:label="一起去旅游！"
            android:theme="@style/AppTheme.Detail" />
        <activity
            android:name=".view.activity.RegisterActivity"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".view.activity.SearchResultActivity"
            android:theme="@style/AppTheme.Detail" />
        <activity
            android:name=".view.activity.PersonCenterActivity"
            android:label="个人中心"
            android:theme="@style/AppTheme.Detail" />
        <activity
            android:name=".view.activity.DetailActivity"
            android:label="活动详情"
            android:theme="@style/AppTheme.AppDetail" />
        <activity
            android:name=".view.activity.HistoryActivity"
            android:label="历史记录"
            android:theme="@style/AppTheme.Detail" />
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.activity.CreateActivity"
            android:label="创建活动"
            android:theme="@style/AppTheme.Detail" />
        <activity
            android:name=".view.activity.ResetActivity"
            android:label="重置密码"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".view.activity.ArticalDetailActivity"
            android:label="游记详情"
            android:theme="@style/AppTheme.AppDetail" />
        <activity
            android:name=".view.activity.CreateArticalActivity"
            android:label="创建游记"
            android:theme="@style/AppTheme.Detail" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />
    </application>

</manifest>